body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

html, body, h2, p {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  }



  
  .container {
    max-width: 960px;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Lobster Two', cursive;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 10px#333040;
    font-weight: 50;
    text-decoration: underline;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 800;
  }
  
  
  input{
    width: 75%;
    padding: 15px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color:#F2DFCE;

    
  }
  
  .header {
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #D9C9BA;
    align-items: center;
  }
  
  
  
  h1 {
    flex: 5;
    text-transform: uppercase;
    color:#262626;
  }
  
 
 
  
  @media screen and (max-width: 1000px) {
    .container {
      justify-content: center;
    }
    .description {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 0 auto;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;
      margin-bottom: 15px;
    }

    .description p {
      margin: 15px 0 0 0;
    }
  }